.showcase {
    max-width: 200%;
    max-height: 200%;
    object-fit: contain;
}

.cardTitle{
    font-family: 'Aref Ruqaa', serif;
    font-size: xxx-large;
}
.cardTitle2{
    font-family: 'Aref Ruqaa', serif;
    /* font-size: xx-large; */
}


.card-size{
    width: 90%;
    height: 600px;
  }

.logo-size{
    width: 300px;
    height: 300px;

}

.hideBtn{
    visibility: hidden;
}