{% extends 'base.html' %}

{% block title %}{{restaurant.name}}'s Menu{% endblock %}

{% block body %}
{% with restaurant_id=restaurant.id %}
<script>
    async function addElement() {

        // first part : create a new order if its not exist
        let data = {
            "order_num": "TBD",
            "state": "Ongoing",
            "resturant": "{{ restaurant_id }}"


        };
        postData('{% url "orderPOST" %}', data)
            .then((data) => { console.log(data); }) // JSON from `()` call
            .catch((error) => { console.error(error); });

        //after that add the element to my cart
    }
</script>
{% endwith %}

<div class="container">
    <div>
        <label for="">Restaurant Name:{{restaurant.name}}</label>
        <label for="">Restaurant Phone Number:{{restaurant.phone_number}}</label>
        <hr>
    </div>
    <div>
        <label for="">Add an Item to the Restaurant Menue</label>
        <div>
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{form}}
                <input type="submit" value="Submit">
            </form>
        </div>
        <div>
            {% include 'message.html' %}
        </div>
        <hr>
    </div>

    <div>
        {% for item in items %}
        <div>
            <a href="#" onclick="addElement()">{{item.name}} - {{item.price}} </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}