{% extends 'base.html' %}
{% load static %}
{% block title %}About The Food Project{% endblock %}

{% block body %}
<div class="container">
    <div>
        <label for="">Add a New Restaurant</label>
      </div>
      <div>
        <form action="" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{form}}
          <input type="submit" value="Submit">
        </form>
      </div>
    
      <div>
        {% include 'message.html' %}
      </div>
  </div>
<div class="container">
    <div id="restaurant-rows" class="py-4"></div>
</div>
<script>
    function checkVote(restaurantID,currentVote){
        if (currentVote >= 3) {
            axios.defaults.xsrfCookieName = 'csrftoken';
            axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";

            axios({
                method: 'post',
                baseURL: window.location.origin,
                url: 'api/addData',
                data: {
                resturant: restaurantID
                },
                responseType: 'json',
            })
                .then(function (response) {
                console.log(' success');
                })
                .catch(function (error) {
                console.log(' error=', error.message);
                });


            document.getElementById("link-" + restaurantID).style.visibility = "visible";

            console.log("Order started");

        }

    }
</script>
<script>
    async function updateVotes(){
        const response1 = await fetch('{% url "restaurantsData" %}');
        const restaurants = await response1.json();
        const response2 = await fetch("{% url 'voteGET'%}")
        const votesData = await response2.json();
        for (var i = 0; i < restaurants.length; i++) {
            let restaurantVote;
            //get votes for restaurant
            let restaurantVoteArray = []
            votesData.forEach(item=>{
                if(item.restaurant == restaurants[i].id) restaurantVoteArray.push(item)
            })
            console.log("resturant votes array")
            if(restaurantVoteArray.length === 0) {
                console.log("resturant vote array is 0")
                restaurantVote =0;
            } else {
                console.log("resturant vote array isnot 0")

                restaurantVote = restaurantVoteArray[0].restaurant;
                
            
            }
            document.querySelector(`#number-${restaurants[i].id}`).innerHTML = restaurantVote
            if( restaurants[i].current_vote>=3){
                let linkTag = await document.querySelector(`#link-${restaurants[i].id}`)
                console.log("Votes >=3")
                if (linkTag){
                    console.log("visible")
                    linkTag.classList.toggle('hideBtn')
                }

            }
            var baseUrl = window.location.origin; // gets the base URL of the current page
            let linkTag = document.querySelector(`#link-${restaurants[i].id}`)
            linkTag.href = baseUrl + '/menu/' + restaurants[i].id + '/'; // change the href attribute



    }}
</script>

<script>
    async function incrementValue(userID,restaurantID){
        console.log("Vote button clicked")
        const data = {
            user: userID,
            restaurant: restaurantID
        };
    
        console.log(data)
        postData('{% url "votePOST" %}', data)
            .then((data) => { console.log(data); }) // JSON from `()` call
            .catch((error) => { console.error(error); });
        
                        
        const data2 = {
            id: restaurantID,
            user:userID
        };
    
        console.log("Data to update vote")
        console.log(data2)
        putData('{% url "votePUT" %}', data2)
            .then(
                (response) => {
                    if (response.error == 'vote already exists') {
                        alert("You have already voted for this restaurant!");
                    } else {
                        console.log(response);
                        console.log("Response above")
                        location.reload();
    
                    }}
                );
        console.log('finished vote process')
            
    }
    
</script>
<script>
    // Get the container element for the rows
    var container = document.getElementById("restaurant-rows");

    // Create a new row
    var row = document.createElement("div");
    row.classList.add("row");
    // Create a counter to keep track of the number of restaurants in the current row
    var counter = 0;
    async function getData(){
        const response1 = await fetch('{% url "restaurantsData" %}');
        const restaurants = await response1.json();
        const userID = "{{request.user.id}}";

        const response2 = await fetch("{% url 'voteGET'%}")
        const votesData = await response2.json();
        for (var i = 0; i < restaurants.length; i++) {
            
            let restaurantVote;
            //get votes for restaurant
            let restaurantVoteArray = []
            votesData.forEach(item=>{
                if(item.restaurant == restaurants[i].id) restaurantVoteArray.push(item)
            })
            console.log("resturant votes array")
            if(restaurantVoteArray.length === 0) {
                console.log("resturant vote array is 0")
                restaurantVote =0;
            } else {
                console.log("resturant vote array isnot 0")

                restaurantVote = restaurantVoteArray[0].restaurant;

            }
                        // Create a column for the current restaurant
            var col = document.createElement("div");
            col.classList.add("col-md-4","py-4");
    
            // Create the restaurant card
            var card = document.createElement("div");
            card.classList.add("card", "bg-light", "text-dark","card-size");
    
            // Add the restaurant details to the card
            var cardBody = document.createElement("div");
            cardBody.classList.add("card-body", "text-center");

            cardBody.innerHTML = `
              <div class="h1 mb-1">
                <img src="${restaurants[i].logo}" class="img-thumbnail logo-size" alt="">
              </div>
              <p class="cardTitle">${restaurants[i].name}</p>
              <p class="cardTitle">${restaurants[i].phone_number}</p>
              <form>
                <input type="text" id="number-${restaurants[i].id}" value="${restaurants[i].current_vote}" readonly="readonly" />
                <input type="button" id="button-${restaurants[i].id}" onclick="incrementValue(${userID},${restaurants[i].id})" value="Vote" />
                
              </form>

              <a href="" id="link-${restaurants[i].id}"

              class="btn btn-dark ms-auto hideBtn">Order Now</a>


            `;
            card.appendChild(cardBody);
    
            // Add the card to the column
            col.appendChild(card);
    
            // Add the column to the current row
            row.appendChild(col);
    
            // Increment the counter
            counter++;
    
            // Check if the current row is full
            if (counter % 3 === 0) {
                // Add the row to the container
                container.appendChild(row);
    
                // Create a new row
                row = document.createElement("div");
                row.classList.add("row");

            }


        }  
        container.appendChild(row);
        await updateVotes();

    }
    getData();
    // Iterate over the restaurants
 
    // Add the remaining row to the container
</script>

{% endblock %}